* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

.navbar_Wrapper {
    background-color: orange;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar_sizeWraper_1200px {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    /* border: 1px solid red; */
    height: 100%;

}

.navbar_sizeWraper_1200px div {
    display: flex;
    justify-content: center;

}

.user_info_display_sectionWrapper {
    margin-left: 50px;
}

.user_info_display_sectionWrapper div {
    display: flex;
    align-items: center;
}

.MainLogo_Wrapper {
    display: flex;
    align-items: center;
}

.MainLogo_Wrapper>div i {
    font-size: 2rem;
}

.menu_bar {
    margin-right: 50px;
}

.menu_bar>table tr td a {
    color: white
}

.user_inter_font {
    font-size: 0.7rem;
}

.menu_bar table tr td {

    padding-left: 10px;
    margin-left: 50px
}

        /* 전체 틀 */
       .wrap{width:1200px;height:1250px;margin:auto;}
       #content{height: 80%;}
       #footer{height:20%; margin:10px 0px;}

       /* 콘텐트바의 전반적인 틀 */
       #content>div{width: 100%;}
       #content1{height: 10%;}
       #content2{height: 30%;}
       #content3{height: 60%;}

       /* 콘텐트바의 세부적인 틀 */
       #content1>h3{padding: 20px;}
       #content2>*{height: 100%; float: left;}
       #content2_1{width: 40%; padding: 10px;}
       #demo{width: 100%; height: 100%;}
       #demo>div{width: 100%; height: 100%;}
       .carousel-inner>img{width: 100%; height: 100%; margin: auto;} 
       #content2_2{width: 60%;}
       #content2_2>*{width: 100%; float: left;}
       #content2_2_1{height: 80%;}
       #content2_2_2{height: 20%;}
       #content2_2_1>span{
           display: inline-block;
           padding-left: 70px;
           padding-bottom: 10px;
           
           
       }
       #content2_2_2>div{
           height: 100%;
           width: 33.3%;
           float: left;
       }
       #content2_2_2>div>button{
           width: 100px;
           display: block;
           margin: auto;
       }
       #content2_2_2>div>button:hover{
            background: rgb(139, 139, 139);
        }

       #content3>div{width: 100%; float: left;}
       #content3_1{height: 10%;}
       #content3_2{height: 90%;}
       #content3_1>div{
            height: 100%; 
            width: 25%; 
            float: left;
            display:block
        }
        #content3_1>div>button{
            width: 90%;
            display: block;
            margin: auto;
            border-radius: 15px;
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
        }
        #content3_1>div>button:hover{
            background: rgb(139, 139, 139);
        }
        
      
       /* 푸터바의 전반적인 틀 */
       #footer{background-color: #00251a}
