* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

.user_info_display_sectionWrapper a:link {
    color: black;
    text-decoration: none;
}

.user_info_display_sectionWrapper a:visited {
    color: black;
    text-decoration: none;
}

.user_info_display_sectionWrapper a:hover {
    color: black;
    text-decoration: none;
}

.navbar_Wrapper {
    background-color: orange;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar_sizeWraper_1200px {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    /* border: 1px solid red; */
    height: 100%;

}

.navbar_sizeWraper_1200px div {
    display: flex;
    justify-content: center;

}

.user_info_display_sectionWrapper {
    margin-left: 50px;
}

.user_info_display_sectionWrapper div {
    display: flex;
    align-items: center;
}

.MainLogo_Wrapper {
    display: flex;
    align-items: center;
}

.MainLogo_Wrapper>div i {
    font-size: 2rem;
}

.menu_bar {
    margin-right: 50px;
}

.menu_bar>table tr td a {
    color: white
}

.user_inter_font {
    font-size: 0.7rem;
}

.menu_bar table tr td {

    padding-left: 10px;
    margin-left: 50px
}

/* 전반적인 큰 틀 */
.wrap{width:1200px;height:800px;margin:auto;}

 /* 콘텐트영역의 전반적인 틀 */
#content>div{width: 100%; float: left;}
#content1{height: 10%; padding: 20px;}
#content2{height: 20%;  padding: 20px;}
#content3{height: 70%;}
#content1>div{height: 100%; float:left}
#content2>div{height: 100%; float:left;}
#content2_1{width: 30%;}
#content2_2{width: 70%;}
#content3>div{width: 100%; float: left;}
#qList{height: 80%;}
#paginationArea{height: 20%;}

/* 타이틀 (content1) */
#title{
    width: 200px;
    height: 40px;
    padding: 5px;
    background: lightgray;
    border-radius: 20px;
    margin-top: 20px;
}
#title>h5{font-weight: 900;}
#content>h4{
    display: inline-block;
    padding: 30px;
    color: gray;
}

/* 콘텐트영역의 세부적인 틀 */
#content2_1{padding:10px;}
#content2_2>span{
    font-size: 25px;
    font-weight: 600;
    display: inline-block;
    padding-top: 30px;
}

/* 질문리스트 */
table{
    text-align: center; margin: 100px;
}
thead{
    background: lightgray;
    text-align: center;
    font-weight: 600;
    height: 50px;
}

tbody td:hover{cursor: pointer;}


/* 페이징 */
#paginationArea>ul{
    padding-left: 450px;

}


/* 푸터바의 전반적인 틀 */
#footerbar {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 270px;
    background-color: #00251a
}

.footerbar_totalWrapper {
    width: 1200px;
    height: 100%;
    border-bottom: 1px solid white;
    margin: auto;
}

.footer_upperWrapper {
    width: 100%;
    height: 52px;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_upperWrapper>button {
    margin-left: 40px;
}

.footer_belowWrapper {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
