
html {
    position: relative;
    min-height: 100%;
    margin: 0;

}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}



body {
    min-height: 100%;
}
/*   <!-- ===============================최 상단 bar  ======================= -->       */
.navbar_Wrapper {
    background-color: orange;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar_sizeWraper_1200px {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    border: 1px solid red;
    height: 100%;

}

.banner_cursor_wrapper div i {
    font-size: 30px;
}

.navbar_sizeWraper_1200px div {
    display: flex;
    justify-content: center;

}

.user_info_display_sectionWrapper {
    margin-left: 50px;
}

.user_info_display_sectionWrapper div {
    display: flex;
    align-items: center;
}

.MainLogo_Wrapper {
    display: flex;
    align-items: center;
}

.MainLogo_Wrapper>div i {
    font-size: 2rem;
}

.menu_bar {
    margin-right: 50px;
}

.menu_bar>table tr td a {
    color: white
}

.user_inter_font {
    font-size: 0.7rem;
}

.menu_bar table tr td {

    padding-left: 10px;
    margin-left: 50px
}

/*   <!-- ===============================최 상단 bar  ======================= -->       */



/*   <!-- ============= 인기 게시물 썸내일 사진 display  ====================== --> */
.banner_Wrapper {
    width:1100px;
    height:300px;
    
    margin:auto;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
   
}

.pop_banner {
    width:45%;
    background-color: orange;
    display: flex;
    justify-content: center;

}
.banner_cursor_wrapper {
    height: 100%;
    width:85%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

/*   <!-- ============= 인기 게시물 썸내일 사진 display  ====================== --> */


/* <!-- =============================== 중고게시판 공동구매 게시판 버튼  ======================= --> */

#board_button_wrapper {
    height:250px;
    width:1200px;
    margin:auto;
    
    display: flex;
    justify-content: center;
}

.button_section_wrapper {
    height:100%;
    width:30%;
    border:2px solid black;

}

#board_button_wrapper>a {
   text-decoration: none;
   color:black;
   background-color: rgb(50, 235, 59);
   border-radius: 10px; 
   margin-left: 15px;
   margin-right: 15px;

}

.button_section_wrapper>img {
    width:100%;
    height:70%;
    
}

.button_section_wrapper>p {
    width:100%;
    height:30%;
    
    display: block;
    text-align: center;
    font-size: 2.5rem;
    
}

/* <!-- =============================== 중고게시판 공동구매 게시판 버튼  ======================= --> */

/* <!-- =============================== 인기 게시글 섹션  ======================= --> */

#top8_board_wrapper {
    width:1200px;
    height:600px;
    background-color: rgb(250, 247, 243);
    border-radius: 20px;
    border:1px solid black;
    margin:auto;
    margin-top: 15px;
    margin-bottom: 15px;

}

.top8_board_floor {
    width:100%;
    height:50%;
    border:1px solid black;
    display: flex;
    justify-content: space-around;
    
}

.top8_board_floor .product_display_wrapper {
    border: 1px solid black;
    width:24%;
    height:100%;
}

.top8_board_floor .product_display_wrapper > .img_wraper {
    width:100%;
    height:65%;
    border:1px solid black;
}


/* <!-- =============================== 인기 게시글 섹션  ======================= --> */
#footerbar 
{
    position: absolute;
    top: 100%;
    width: 100%;
    height: 270px;
    background-color: #001811
}

.footerbar_totalWrapper {
    width: 1200px;
    border: 1px solid white;
    margin: auto;
}

.footer_upperWrapper {
    width: 100%;
    height: 52px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_upperWrapper>button {
    margin-left: 40px;
}

.footer_belowWrapper {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}