html {
    position: relative;
    min-height: 100%;
    margin: 0;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
body {min-height: 100%; }

#page_total_wrapper {
    width:850px;
    height:100rem;
    border:1px solid black;
    margin:auto;
}