body {min-height: 100%;}

#page_total_wrapper {
    width:850px;
    height:100%;
    border:1px solid rgb(252, 255, 72);
    border-radius: 15px;
    padding-left: 15px;
    padding-top:15px;
    margin:auto;
    box-shadow: 3px 3px 2px 2px rgb(255, 189, 35);
}

input[name="Title"] {
    width:500px;
}

input[name="price"]{
    width:250px;
}

input[name="Title"]:hover {
    box-shadow: 0.5px 0.5px 2px 2px rgb(216, 216, 216);
}

select[class="form-control"] {
    width:150px;
    margin-right: 10px;
}

#form1>h5{
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: bold;
}

input[type="radio"]{
    margin-right: 6px;
}

#preview_frame {
    width:99%;
    height:200px;
    background-color: lightgray;
    display: flex;
    border-radius: 10px;
    padding:0px 15px 0px 30px;
}

#preview_frame>.image_wrapper{
    width:23%;
    height:100%;
    margin-right: 20px;
    display: flex;
    align-items: center;
    
}

.image_wrapper>img {
    width:100%;
    height:90%;
    border-radius: 10px;
    border:2px solid gray;
}

.submit_button_wrapper {
    width:96.5%;
    display: flex;
    justify-content: space-between;
}

.image_wrapper>i {
    position: relative;
    font-size: 1.5rem;
    right:32px;
    top:70px;
    cursor: pointer;
    color:lightblue;
}