div{border:1px solid red; box-sizing:border-box;}
.wrap{width:1200px; height:950px; margin:auto;}

/* 크게 4가지 영역 */
.wrap>div{width:100%;}
#header{height: 10%;}
#content{height:80%;}
#footer{height:10%;}

/* content안의 세부영역 */
#content>div{height:100%; float:left;}
#content_1{width:20%;}
#content_2{width:60%;}
#content_3{width:20%;}
/* ---------------------------------------------------------------------- */
