p, a, label, input::placeholder{
    font-family: 'Jua', sans-serif;
    margin:0px;
    font-size:15px;
}


/* 전체 화면 백그라운드 지정을 위해 html, body를 100%, 100% 지정*/
html, body{
    width:100%; 
    height:100%;
}

/* body영역에 기본적으로 있는 margin,padding을 0으로 바꿔줌 */
/* 백그라운드 그라데이션 추가 */
body{
    margin:0px;
    padding:0px;
    background:linear-gradient(45deg, rgba(73, 197, 89, 0.973),rgb(212, 129, 73), rgb(103, 236, 121));
    position:relative;
    background-attachment:fixed;
}

div{
    box-sizing:border-box;
}

.login{
    width:1000px;
    height:500px;
    margin-top:-250px;
    margin-left:-500px;
    background-color:rgba(0, 0, 0, 0.15);
    position:absolute;
    top:50%;
    left:50%;
    box-shadow:0px 0px 20px rgb(36, 36, 36);
    border-radius:20px;
    padding:10px;
}
.signup{
    width:500px;
    height:1600px;
    margin-left:-250px;
    background-color:rgba(0, 0, 0, 0.15);
    position:absolute;
    top:40%;
    left:50%;
    box-shadow:0px 0px 20px rgb(36, 36, 36);
    border-radius:20px;
    padding:10px;
}
input, select{
    border:none;
    border-radius:20px;
    margin-top:30px;
}
input[type="text"], input[type="password"], input[type="email"]{
    height:30px;
    width:300px;
    box-shadow:0px 0px 10px black;
    padding-left:20px;
}
input[type="checkbox"], input[type="radio"]{
    height:20px;
    width:20px;
    box-shadow:0px 0px 5px black;
}
.signup select{
    height:30px;
    width:100px;
    box-shadow:0px 0px 10px black;
    padding-left:20px;
}
input:hover{
    background-color:rgb(253, 200, 131);
}

/********************loginPage 영역********************/
.login>div{height:100%; float:left;}
.login_left{
    width:40%;
    height:100%;
    
}
.login_left>div{width:100%;}
.login_left_logoImage{
    text-align:center;
    height:50%;
}
.login_left_logoFont{
    text-align:center;
    height:20%;
}
.login_left_content{
    height:30%;
}
.login_right{
    width:60%;
    height:100%;
}
.login_left_content>p{
    text-align:center;
    font-size:25px;
}
.login_right{
    background-color:rgb(253, 245, 238);
    border-radius:20px;
    padding:20px;
    text-align:center;
    box-shadow:0px 0px 10px black;
    
}
.login_right button{
    border:none;
    border-radius:20px;
    height:30px;
    width:300px;
    box-shadow:0px 0px 10px black;
    margin-top:30px;
    background:linear-gradient(45deg,  rgb(169, 240, 151), rgb(255, 205, 151));
    font-size:15px;
}

.login_right button[id="signup"]{
    margin-top:100px;
}
/********************loginPage 영역********************/


/********************signupPage 영역********************/
.signup div{
    width:100%;
}
.signup_logoImage{
    height:250px;
    text-align:center;
}
.signup_logoFont{
    height:100px;
    text-align:center;
}
.signup_content>p{
    text-align:center;
    font-size:25px;
    margin-bottom:200px;
}
.signup_form{
    height:1500px;
    border-radius:20px;
    padding:20px;
}
.signup_form label{
    margin-right:10px;
}
.signup input{
    margin:0px 0px 30px 0px;
}
.signup button{
    margin:0px 0px 30px 30px;
    border:none;
    border-radius:20px;
    height:30px;
    width:100px;
    box-shadow:0px 0px 10px black;
    background:linear-gradient(45deg,  rgb(169, 240, 151), rgb(255, 205, 151));
    font-size:15px;
}
#M{
    margin-right:10px;
}
#F{
    margin:0px 10px 0px 50px;
}
.signup select{
    margin:0px 0px 30px 0px;
}
button[type="reset"]{
    widows: 30%;
}
button[type="submit"]{
    width:55%;
}
/********************signupPage 영역********************/

