div, form, input {
    box-sizing: border-box;
}

#content>div {
    border: 1px solid blue;
}

#content>div>div {
    border: 1px solid blue;
}

#footer {
    border: 1px solid green;
}

.wrap {
    width: 1200px;
    height: 800px;
    margin: auto;
}

/* 전체 페이지 레이아웃 */
.wrap>div {
    width: 100%;
}

#content {
    height: 100%;
}

/* 콘텐트영역 레이아웃 */
#content>div {
    height: 100%;
    float: left;
}

#content1 {
    width: 20%;
}

#content2 {
    width: 80%
}

#content2>div {
    width: auto;
    padding: 1%;
}

#pageName {
    height: 10%;
}

#pageContent {
    height: 90%;
}

#pageContent>div,form {
    border: 1px solid skyblue;
    width: auto;
}

#search {
    height: 6%;
    
}

#board {
    height: 84%;
}

#boardNum {
    height: 10%;
}
